@import url(normalize.css);
@import url(reset.css);

/* Estilos Generales */

body{
    height: 100dvh;

    background-image: url(../img/fondoMadera.jpg)
}

header{
    height: 10dvh;

}

main{
    height: 60dvh;

    display: grid;
    align-self: center;
    justify-self: center;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);


}

footer{
    height: 20dvh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 40px;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .dados{
        height: 125px;
        width: 125px;
        user-select: none;
        
    }

    .footer__botontirar{
        font-size: 1.25rem;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .footer__botontirar:hover {
        background-color: #45a049;
    }

}


.dadosDiv{
    width: 100px;
    height: 100px;
    background-image: url('../img/dadoVector.svg');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: #333333;
    
    & h1{
        font-size: 3.125rem;
        user-select: none;
    }
}

